*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open-san';
    
    
}
header{
    background-image: url(img/bg-hero-desktop.svg);
    width: 100%;
    height: 100%;
    padding: 70px;
    margin: auto;
    font-weight: 600;
    background-color: hsl(193, 100%, 96%);
    font-size: 18px;
}
.header-top{
    padding-bottom: 50px;
}

.header-down{
    display: flex;
}

.header-left{
    padding-right: 120px;
    padding-top: 80px;
    left: 0;
    width: 100%;
}


.btn1{
    float: right;
    text-align: center;
    border: solid 1px transparent;
    padding: 10px 50px;
    border-radius: 50px;
    color: hsl(192, 100%, 9%);
    background-color: white;
    cursor: pointer;
}

.btn2{
    text-align: center;
    border: solid 1px transparent;
    padding: 10px 60px;
    border-radius: 50px;
    color: white;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
}

.btn3{
    text-align: center;
    border: solid 1px transparent;
    padding: 10px 95px;
    border-radius: 50px;
    color: white;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    font-size: 18px;
}

main{
    margin: auto;
    padding: 100px;
    display: grid;
    height: auto;
    font-size: 18px;
}

.container{
    display: flex;
    flex-direction: wrap;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 0px 0px 5px 0px hsl(192, 100%, 9%);
    margin: 30px 0px;
    color: hsl(192, 100%, 9%);
}
.container_left{
    width: 80%;
    padding: 80px 50px;
}

.container2{
    display: flex;
    flex-direction: wrap;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 0px 0px 5px 0px hsl(192, 100%, 9%);
    margin: 30px 0px;
    color: hsl(192, 100%, 9%);
    padding-left: 100px;
    box-sizing: border-box;
}
.container_left2{
    width: 80%;
    display: block;
    padding: 100px 0px 100px 150px;
}

.container3{
    display: flex;
    flex-direction: wrap;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 0px 0px 5px 0px hsl(192, 100%, 9%);
    margin: 30px 0px;
    color: hsl(192, 100%, 9%);
}
.container_left3{
    width: 80%;
    padding: 80px 55px;
}

p{
    font-weight: 400;
}
.head_bottom{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}

.main_bottom{
    display: block;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid transparent ;
    background-color: white;
    margin: auto;
    color: hsl(192, 100%, 9%);
    text-align: center;
    width: 45%;
    padding: 50px 0px;
    font-size: 40px;
    transform: translate(50px, 100px);
    box-shadow: 0px 0px 2px 0px hsl(192, 100%, 9%);
}

footer{
    background-color: white;
    font-size: 18px;
}
.footer_down{
    background-color: hsl(192, 100%, 9%);
    padding: 150px 50px 50px 100px;
}
.down_footer{
    display: flex;
    flex-direction: wrap;
    color: white;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px 0px;
}
.footer_image{
    width:auto;
    height:auto;
    filter: invert(100%) saturate(0%);
    padding-bottom: 30px;
}
.footer1{
    padding-right: 20px;
}
.footer2{
    margin-right: 120px;
    width: 30%;
}.footer3{
    width: 20%;
}
.footer_hover:hover{
    border-bottom: 1px solid white;
}
.footer4{
    width: 20%;
    
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    
}

.fa
{
    padding: 10px;
    font-size: 18px;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover 
{
    color: hsl(322, 100%, 66%);
}
  
.fa-facebook 
{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}
  
.fa-twitter 
{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}
.fa-instagram
{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}
.copyright{
    color: white;
    text-align: end;
    font-size: 14px;
}

@media screen and (max-width:1000px) {
    .header-down{
        flex-direction: column;
        text-align: center;
    }
    .container .container2 .container3{
        flex-direction: column;
    }
    
}
@media screen and (max-width:600px) {
    .header-down{
        flex-direction: row;
        text-align: center;
    }
    .container .container2 .container3{
        flex-direction: column;
        text-align: center;
    }
    
}